@inject IAuthService AuthService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Neocore</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-person-gear-nav-menu" aria-hidden="true"></span> Users
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customers">
                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-person-vcard-nav-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="vendors">
                <span class="bi bi-buildings-nav-menu" aria-hidden="true"></span> Vendors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="contracts">
                <span class="bi bi-briefcase-nav-menu" aria-hidden="true"></span> Contracts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="items">
                <span class="bi bi-box-seam-nav-menu" aria-hidden="true"></span> Items
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sales">
                <span class="bi bi-cash-coin-nav-menu" aria-hidden="true"></span> Sales
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="repairs">
                <span class="bi bi-wrench-adjustable-circle-nav-menu" aria-hidden="true"></span> Repairs
            </NavLink>
        </div>
    </nav>
</div>

