@page "/contracts"

@inherits NeocoreComponent

@inject ContractRepository ContractRepository
@inject VendorRepository VendorRepository
@inject NavigationManager NavigationManager 

<div class="col col-md-6 me-auto">
    <FilterComponent 
        TEntity="Vendor" 
        SelectedId="VendorId"
        Entities="Vendors"
        EntityId="@(v => v.Id)"
        EntityName="@(v => v.Name)"
        OnEntityFilter="UpdateQuery"
        Label="By vendor:"
    />

    <label for="deliveryDateFrom">Delivery date from:</label>
    <input class="mt-2 form-control" id="deliveryDateFrom" type="date" 
        @bind="DeliveryDateFrom" 
        @bind:event="oninput" 
        @onchange="() => UpdateQuery(VendorId)"
    /> @* TODO debounce? *@
</div>

<h3 class="mt-2">
    Contracts 
    <a href="/contract" class="btn btn-sm ms-2 py-1 btn-success">+ New</a>
</h3>

<QuickGrid class="nc-grid" Items="ContractList.AsQueryable()" Pagination="paginationState">
    <TemplateColumn class="nc-narrow" Title="Id"
        SortBy="GridSort<Contract>.ByAscending(c => c.Id)">
        <a href="contract/@context.Id">@context.Id</a>
    </TemplateColumn>
    <PropertyColumn Property="c => c.DeliveryDate" Sortable="true" />
    <TemplateColumn Title="Signed with" 
        SortBy="GridSort<Contract>.ByAscending(c => c.Vendor == null ? null : c.Vendor.Name)">
        <a href="vendor/@context.Vendor?.Id">@context.Vendor?.Name</a>
    </TemplateColumn>
    <Paginator State="paginationState" />
</QuickGrid>

@code {
    private PaginationState paginationState = new() { ItemsPerPage = 10 };

    public List<Contract> ContractList { get; set; } = new();

    public List<Vendor> Vendors { get; set; } = new();

    [Parameter]
    [SupplyParameterFromQuery(Name = "vendor")]
    public int VendorId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "from")]
    public DateOnly DeliveryDateFrom { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!IsPrerendering)
        {
            if (DeliveryDateFrom == DateOnly.MinValue)
                DeliveryDateFrom = new DateOnly(2024, 01, 01);

            if (Vendors.Count <= 0)
                Vendors = [.. await VendorRepository.FindAll()];

            await UpdateContracts();
        }

        await base.OnParametersSetAsync();
    }

    private async Task UpdateContracts()
    {
        // Console.ForegroundColor = ConsoleColor.Red;
        // Console.WriteLine("EXPENSIVE DATABASE REQUEST");
        // Console.ResetColor();
        ContractList = [.. await ContractRepository.FindByFilter(new()
            {
                VendorId = VendorId > 0 ? VendorId : null,
                DeliveryDateFrom = DeliveryDateFrom
            }
        )];
    }

    public void UpdateQuery(int vendorId)
    {
        // if (VendorId != vendorId)
        // {
            NavigationManager.NavigateTo(
                NavigationManager.GetUriWithQueryParameters(
                    new Dictionary<string, object?>() 
                    { 
                        { "vendor", vendorId > 0 ? vendorId : null },
                        { "from", DeliveryDateFrom != DateOnly.MinValue ? DeliveryDateFrom : null }
                    }
                )
            );
        // }
    }
}
