@page "/"

<h1>Welcome to Neocore</h1>
<div class="card-body">
    <h6>Quick guide:</h6>
    <ul class="ms-3">
        <li> Access grid pages via sidebar</li>
        <li> All data is displayed in sortable grids</li>
        <li> Click "+ New" to create new entries</li>
        <li> Click on row id to edit/remove existing entries</li>
    </ul>
</div>
